<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<head>
	<title>Operazioni Responsabile</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="styles/css/main.css" />
</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index.html">FormationWEB</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="#">Home</a></li>
							<li>
								<a href="#" class="icon fa-angle-down">Scegli cosa fare</a>
								<ul>
									<li><a th:href="@{/addAllievo}">Inserimento allievo</a></li>
									<li><a th:href="@{/allievi}">Lista allievi</a></li>
									<li><a th:href="@{/addAttivita}">Inserimento attivita</a></li>
									<li><a th:href="@{/attivitas}">Lista attivita</a></li>
									<li><a th:href="@{/addCentro}">Inserisci centro</a></li>
								</ul>
							</li>
							<li><a href="index.html" class="button">Logout</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>Operazioni responsabile</h2>
						<p>Clicca su "Scegli cosa fare" e seleziona una funzione </p>
					</header>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; FormationWEB. All rights reserved.</li><li>Bitbucket <a href="#" class="icon fa-bitbucket"><span class="label">BitBucket</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="styles/js/jquery.min.js"></script>
			<script src="styles/js/jquery.dropotron.min.js"></script>
			<script src="styles/js/jquery.scrollex.min.js"></script>
			<script src="styles/js/browser.min.js"></script>
			<script src="styles/js/breakpoints.min.js"></script>
			<script src="styles/js/util.js"></script>
			<script src="styles/js/main.js"></script>

	</body>
</html>