<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Lista Attività</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="styles/css/main.css" />
</head>
<body class="is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1>
				<a href="index.html">FormationWEB</a>
			</h1>
			<nav id="nav">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#" class="icon fa-angle-down">Scegli cosa
							fare</a>
						<ul>
							<li><a th:href="@{/addAllievo}">Inserimento allievo</a></li>
							<li><a th:href="@{/allievi}">Lista allievi</a></li>
							<li><a th:href="@{/addAttivita}">Inserimento attività</a></li>
							<li><a th:href="@{/attivitas}">Lista attività</a></li>
							<li><a th:href="@{/addCentro}">Inserisci centro</a></li>
							<li><a th:href="@{/centri}">Lista centri</a></li>
						</ul></li>
					<li><a href="index.html" class="button">Logout</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<!-- Lista Attività -->
	<section class="box">
		<h3>Lista Attività</h3>
		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Nome</th>
						<th>Data</th>
						<th>Orario</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="attivita : ${attivitas}">
						<td><a th:href="@{'/attivita' + '/' + ${attivita.id}}">
						<span th:text="${attivita.nome}"></span></a></td>
						<td><a th:href="@{'/attivita' + '/' + ${attivita.id}}"><span
								th:text="${attivita.data}"></span></a></td>
						<td><a th:href="@{'/attivita' + '/' + ${attivita.id}}"><span
								th:text="${attivita.orario}"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<!-- Footer -->
	<footer id="footer">
		<ul class="copyright">
			<li>&copy; FormationWEB. All rights reserved.</li>
			<li>Bitbucket <a
				href="https://bitbucket.org/tommasofedeli/siw-progetto-avanzato-final"
				class="icon fa-bitbucket"><span class="label">BitBucket</a></li>
		</ul>
	</footer>

	<!-- Scripts -->
	<script src="styles/js/jquery.min.js"></script>
	<script src="styles/js/jquery.dropotron.min.js"></script>
	<script src="styles/js/jquery.scrollex.min.js"></script>
	<script src="styles/js/browser.min.js"></script>
	<script src="styles/js/breakpoints.min.js"></script>
	<script src="styles/js/util.js"></script>
	<script src="styles/js/main.js"></script>

</body>
</html>
