<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
	<title>Operazioni Responsabile - Inserimento Centro</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="styles/css/main.css" />
</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index.html">FormationWEB</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="#">Home</a></li>
							<li>
								<a href="#" class="icon fa-angle-down">Scegli cosa fare</a>
								<ul>
									<li><a th:href="@{/addAllievo}">Inserimento allievo</a></li>
									<li><a th:href="@{/allievi}">Lista allievi</a></li>
									<li><a th:href="@{/addAttivita}">Inserimento attivita</a></li>
									<li><a th:href="@{/attivitas}">Lista attivita</a></li>
									<li><a th:href="@{/addCentro}">Inserisci centro</a></li>
									<li><a th:href="@{/centri}">Lista centri</a></li>
								</ul>
							</li>
							<li><a href="index.html" class="button">Logout</a></li>
						</ul>
					</nav>
				</header>
				
				<!-- addCentro -->
				<section id="addAllievo" class="container small">
					<header>
						<h2>Inserimento Centro</h2>
					</header>
					<div class="box">
						<form name="f" th:action="@{/centro}" method="POST" th:object="${centro}">
							<div class="row gtr-50 gtr-uniform">
								<div class="col-12">
									<span>Nome:</span> 
									<input type="text" placeholder="Nome" th:field="*{nome}" />
									<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
								</div>
								<div class="col-12">
									<span>Indirizzo:</span> 
									<input type="text" placeholder="Indirizzo" th:field="*{indirizzo}" />
									<span th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}"></span>
								</div>
								<div class="col-12">
									<span>Email:</span> 
									<input type="email" placeholder="Email" th:field="*{email}" />
									<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
								</div>
								<div class="col-12">
									<span>Telefono:</span> 
									<input type="text" placeholder="Telefono" th:field="*{telefono}" />
									<span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>
								</div>
								
								
								<div class="col-12">
									<ul class="actions special">
										<li><input type="submit" value="Inserisci" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; FormationWEB. All rights reserved.</li><li>Bitbucket <a href="#" class="icon fa-bitbucket"><span class="label">BitBucket</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="styles/js/jquery.min.js"></script>
			<script src="styles/js/jquery.dropotron.min.js"></script>
			<script src="styles/js/jquery.scrollex.min.js"></script>
			<script src="styles/js/browser.min.js"></script>
			<script src="styles/js/breakpoints.min.js"></script>
			<script src="styles/js/util.js"></script>
			<script src="styles/js/main.js"></script>
			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

	</body>
</html>