<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Login Allievo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="styles/css/main.css" />
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index.html">FormationWEB</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>
								<a href="#" class="button">Login</a>
								<ul>
									<li><a href="loginAllievo.html">Allievo</a></li>
									<li><a href="loginResponsabile.html">Responsabile</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</header>

			<!-- ErrorLoginAllievo -->
				<section id="errorLoginAllievo" class="container small">
					<header>
						<h2>Login Allievo</h2>
					</header>
					<div class="box">
						<form action="#" th:action="@{/allievoLogin}" th:object="${allievo}" method="post">
							<div class="row gtr-50 gtr-uniform">
								<div class="col-12">
									<input type="email" th:field="*{email}" placeholder="Email" />
									<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
									<p th:text="${notExists}"></p>
								</div>
								<div class="col-12">
									<span><input type="password" th:field="*{password}" placeholder="Password" /></span>
									<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
								</div>
								<div class="col-12">
									<ul class="actions special">
										<li><input type="submit" value="Login" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; FormationWEB. All rights reserved.</li><li>Bitbucket <a href="https://bitbucket.org/tommasofedeli/siw-progetto-avanzato-final" class="icon fa-bitbucket"><span class="label">BitBucket</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="styles/js/jquery.min.js"></script>
			<script src="styles/js/jquery.dropotron.min.js"></script>
			<script src="styles/js/jquery.scrollex.min.js"></script>
			<script src="styles/js/browser.min.js"></script>
			<script src="styles/js/breakpoints.min.js"></script>
			<script src="styles/js/util.js"></script>
			<script src="styles/js/main.js"></script>

	</body>
</html>