<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
	<title>Operazioni Responsabile</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="styles/css/main.css" />
</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index.html">FormationWEB</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="#">Home</a></li>
							<li>
								<a href="#" class="icon fa-angle-down">Scegli cosa fare</a>
								<ul>
									<li><a th:href="@{/addAllievo}">Inserimento allievo</a></li>
									<li><a th:href="@{/allievi}">Lista allievi</a></li>
									<li><a th:href="@{/addAttivita}">Inserimento attività</a></li>
									<li><a th:href="@{/attivitas}">Lista attività</a></li>
									<li><a th:href="@{/addCentro}">Inserisci centro</a></li>
									<li><a th:href="@{/centri}">Lista centri</a></li>
								</ul>
							</li>
							<li><a href="index.html" class="button">Logout</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>Operazioni responsabile</h2>
						<p>Clicca su "Scegli cosa fare" e seleziona una funzione </p>
					</header>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; FormationWEB. All rights reserved.</li><li>Bitbucket <a href="#" class="icon fa-bitbucket"><span class="label">BitBucket</a></li>
					</ul>
				</footer>

		</div>
		
		<!-- Lista Allievi -->
	<section class="box">
		<h3>Miei dati</h3>
		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Nome</th>
						<th>Cognome</th>
						<th>Email</th>
						<th>Telefono</th>
						<th>Data di Nascita</th>
						<th>Indirizzo</th>
					</tr>
				</thead>
					<tr>
						<td><span th:text="${responsabile.nome}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

		<!-- Scripts -->
			<script src="styles/js/jquery.min.js"></script>
			<script src="styles/js/jquery.dropotron.min.js"></script>
			<script src="styles/js/jquery.scrollex.min.js"></script>
			<script src="styles/js/browser.min.js"></script>
			<script src="styles/js/breakpoints.min.js"></script>
			<script src="styles/js/util.js"></script>
			<script src="styles/js/main.js"></script>

	</body>
</html>