<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8"/>
</head>
<body>
	<div>
		<h4 class="title">Inserimento Responsabile</h4>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{/responsabile}" method="POST" th:object="${responsabile}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>
			<tr>
				<td>Cognome:</td>
				<td><input type="text" th:field="*{cognome}" /></td>
				<td th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="text" th:field="*{email}" /></td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="text" th:field="*{password}" /></td>
				<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
			</tr>
			<tr>
				<td>Telefono:</td>
				<td><input type="text" th:field="*{telefono}" /></td>
				<td th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></td>
			</tr>
			<tr>
				<td>Data di Nascita:</td>
				<td><input type="text" th:field="*{dataNascita}" /></td>
				<td th:if="${#fields.hasErrors('dataNascita')}" th:errors="*{dataNascita}"></td>
			</tr>
			<tr>
				<td>Indirizzo:</td>
				<td><input type="text" th:field="*{indirizzo}" /></td>
				<td th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}"></td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
</body>
</html>