<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Lista attivita disponibili</title>
</head>
<body>
    <div>
    	<h4 class="title">Lista attivita disponibili</h4>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{'/allievo' + '/' + ${allievo.id} + '/associaAttivita'}" method="GET" >
		<ul th:each="attivita : ${attivitas}"> 
			<li><input type="radio" name="attivita" th:value="${attivita.id}">
			<span th:text="${attivita.nome}"></span>
			</li> 
		</ul>	
		<input type="submit" value="Submit">
	</form>   		
</body>
</html>