<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
	<title>Allievo</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="styles/css/main.css" />
</head>
<body>
    <div>
    	<h2>Allievo</h2>
		<div>
			<span th:text="${allievo.nome}"></span>
   		</div>
		<div>
			<span th:text="${allievo.cognome}"></span>
   		</div>
		<div>
			<span th:text="${allievo.email}"></span>
   		</div>
   		<div>
			<span th:text="${allievo.password}"></span>
   		</div>
   		<div>
			<span th:text="${allievo.telefono}"></span>
   		</div>
   		<div>
			<span th:text="${allievo.dataNascita}"></span>
   		</div>
   		<div>
			<span th:text="${allievo.indirizzo}"></span>
   		</div>
   		<table 	th:if="${allievo.getListaAttivita().isEmpty() == false}"
   				
   				border="1"
				title="Attivita associate:">
   			<tr>
   				<th><h4>Nome</h4></th>
   				<th><h4>Data</h4></th>
   				<th><h4>Orario</h4></th>
   				<th><h4>Centro</h4></th>
   			</tr>
   			<tr th:each="attivita : ${allievo.listaAttivita}">
   				<td th:text="${attivita.nome}"></td>
   				<td th:text="${attivita.data}"></td>
   				<td th:text="${attivita.orario}"></td>  
   				<td><a th:href="@{'/centro' + '/' + ${attivita.getCentro().getId()}}" th:text="${attivita.getCentro().getNome()}"></a></td>    
			</tr>	
		</table>
   		<div>
   			<a th:href="@{'/allievo' + '/' + ${allievo.id} + '/scegliAttivita'}" >Scegli un'attività</a>
   		</div>
    </div>
</body>
</html>