<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
    <title>Centro</title>
</head>
<body>
    <div>
    	<h4>Centro</h4>
		<div>
			<span th:text="${centro.nome}"></span>
   		</div>
		<div>
			<span th:text="${centro.indirizzo}"></span>
   		</div>
		<div>
			<span th:text="${centro.email}"></span>
   		</div>
   		<div>
			<span th:text="${centro.telefono}"></span>
   		</div>
    </div>
</body>
</html>