<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
	<title>Operazioni Responsabile - Inserimento Allievo</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="styles/css/main.css" />
</head>
<body>
    <div>
    	<h4>Attività</h4>
		<div>
			<span th:text="${attivita.nome}"></span>
   		</div>
		<div>
			<span th:text="${attivita.data}"></span>
   		</div>
		<div>
			<span th:text="${attivita.orario}"></span>
   		</div>
    </div>
</body>
</html>