<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Responsabile</title>
</head>
<body>
    <div>
    	<h4>Responsabile</h4>
		<div>
			<span th:text="${responsabile.nome}"></span>
   		</div>
		<div>
			<span th:text="${responsabile.cognome}"></span>
   		</div>
		<div>
			<span th:text="${responsabile.email}"></span>
   		</div>
		<div>
			<span th:text="${responsabile.password}"></span>
   		</div>
		<div>
			<span th:text="${responsabile.telefono}"></span>
   		</div>
		<div>
			<span th:text="${responsabile.dataNascita}"></span>
   		</div>
		<div>
			<span th:text="${responsabile.indirizzo}"></span>
   		</div>
    </div>
</body>
</html>